* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

%h1 { font-size: 2rem; margin-bottom: 1rem; }
%h2 { font-size: 1.4rem; }
%h3 { font-size: 1.2rem; }

h1 { @extend %h1; }
h2 { @extend %h2; }

body {
  font-family: 'Open Sans', sans-serif;
}

.c_app {
  margin: 10px;
}

.c_dictionary {
  margin-top: 20px;
}

.c_editor {
  border: 1px solid #ccc;
  margin: 20px 0;

  .DraftEditor-root {
    padding: 10px;
    position: relative;
    .public-DraftEditorPlaceholder-inner {
      color: #96bfe2;
      position: absolute;
      z-index: -1;
    }
  }
}

.c_spell-check-decorator {
  color: red;
}

.c_suggestions {
  background-color: #666;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  outline: none;
  position: absolute;
  width: 200px;
  &__list {
    margin-top: 10px;
    max-height: 9em;
    overflow-y: scroll;
  }
  &__item, &__none, &__static {
    height: 1em;
    padding: .25em .5em;
  }
  &__item, &__static {
    &:hover {
      background-color: rgb(22, 154, 216);
      color: #fff;
    }
  }
  &__static {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #fff;
    margin-top: .5em;
    padding: .5em;
  }
}